---
layout: basic
---

<h1 class="display-1 text-center">Sitember Sites</h1>


<div class="col-md-12 d-flex justify-content-center">


    <div class="card col-md-8">
        <h2>Links to sites:</h2>
        <ul>
            <li><a href="/sep2">Sep 2</a></li>
            <li><a href="/sep3">Sep 3</a></li>
            <li><a href="/sep10">Sep 10</a></li>
        </ul>
        </div>
</div>