---
layout: basic
---

<style>
    .card {
        border-color: transparent;
    }
</style>

<h1 class="text-center display-1">Fun JS Button </h1>
<div class="d-flex col-md-12 justify-content-center">

<div class="card">
    <button class="btn btn-primary"
onclick="document.getElementById('demo').innerHTML = 'Ouch'; ">
Punch me</button>
<p id="demo"></p>


</div>


</div>