---
layout: basic
---

<style>
        .card {
            border-color: transparent;
        }
    </style>
    
<h1 class="text-center display-1">Fun JS Button </h1>
<h2 id="test"></h2>

<div class="justify-content-center d-flex col-md-12">
<button class="btn btn-warning" type="button" onclick="window.alert(5 + 6)">Opens a popup</button>
</div>
<script>
        document.getElementById("test").innerHTML = "This text was written using JS";
        document.getElementById("test").window.alert("test");
        </script> 